<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702564520017-ptiudco1on4muqn825la4ahd37rqh6fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702564520017-ptiudco1on4muqn825la4ahd37rqh6fs</string>
	<key>API_KEY</key>
	<string>AIzaSyC8M-f4Xi61xltbITbwVANVNgeUU4xpL5U</string>
	<key>GCM_SENDER_ID</key>
	<string>702564520017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bmw</string>
	<key>PROJECT_ID</key>
	<string>bmw-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>bmw-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702564520017:ios:1ae83f03c9e75028932870</string>
</dict>
</plist>